.centerEl {
    display: none;
    justify-content: center;
}

#movieName {
    display: none;
}

#formTv {
    border: 10px;
    border-color: #ae7e1e;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#title {
    color: #ae7e1e;
    text-align: center;
    font-weight: 700;
    font-style: italic;
}

#formMovie {
    border: 10px;
    border-color: #ae7e1e;
    border-radius: 20px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
}

#header {
    text-align: center;
}

#tvInput {
    width: 100%;
}

#movieInput {
    width: 100%;
}

#submitTv {
    width: 100%;
}

#submitMovie {
    width: 100%;
}

#deleteBox {
    display: flex;
    justify-content: right;
    float: right;
}

#logo {
   width: 100%; 
}
